// Media
$m-xxs: "min-width: 375px";
$m-xs: "min-width: 568px";
$m-s: "min-width: 768px";
$m-m: "min-width: 992px";
$m-mm: "min-width: 1080px";
$m-l: "min-width: 1280px";
$m-xl: "min-width: 1440px";
$m-xxl: "min-width: 1600px";
$m-xxxl: "min-width: 1720px";

$ma-xxs: "max-width: 376px";
$ma-xs: "max-width: 567px";
$ma-s: "max-width: 767px";
$ma-m: "max-width: 991px";
$ma-l: "max-width: 1279px";
$ma-xl: "max-width: 1439px";
$ma-xxl: "max-width: 1599px";

// Colors
$c-brand: #3556E7;
$c-cyan: #00C1A1;

$c-darkGray: #444444;
$c-mediumGray: #D9D9D9;;
$c-lightGray: #F0F0F0;
$c-orange: #F47C0C;
$orange: #F47C0C;
// Fonts
$f-monts: 'Montserrat', Arial, sans-serif;
$f-avenir: 'Avenir', Arial, sans-serif;