.contacts {
    &-text {
        font-family: 'CoreSansG';
        max-width: 704px;
        color: #ffffff;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 1px;
        word-break: keep-all;

        @media ($m-m) {
            font-size: 30px;
        }

        & > p > a {
            transition: .25s;

            &:hover {
                color: $c-orange;
            }
        }

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}
.map {
    
    display: flex;
    & img {
       
        width: 100%;
    }
}