.contacts {
    &-text {
        font-family: 'CoreSansG';
        width: 704px;
        height: 102px;
        
        padding: 60px 0;
        color: #ffffff;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 140%;
        /* or 42px */

        display: flex;
        align-items: center;
        letter-spacing: 1px;
    }
}
.map {
    
    display: flex;
    & img {
       
        width: 100%;
    }
}