.block {
  
  &--pdt100 {
    padding-top: 100px;
  }
  
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.block__title {
  font-family: 'CoreSansG', Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.389em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;

  .body--white & {
    color: #000;
  }
  
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &--mb30:not(:last-child) {
    margin-bottom: 30px;
  }
}

.block__tabbar {
  margin-bottom: 60px;
}

.block__row {
  display: flex;
}

.block__row-sidebar {
  flex-shrink: 0;
  width: 258px;
  margin-right: 46px;
}

.block__row-wrap {
  width: calc(100% - 258px - 46px);
}