.category__card {
  display: flex;
  max-width: 390px;
  height: 625px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 0px 10px;  

  &--orange {
    border-color: #F47C0C;
  }

  &--purple {
    border-color: #B808D4;
  }

  &--red {
    border-color: #E30613;
  }

  &--white {
    border-color: #FFF;
  }
}