.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;

  @media ($m-l) {
    margin: -62px 0 0 -90px;
  }
}

.grid__item {
  width: 100%;
  padding: 20px 0 0 20px;

  @media ($m-l) {
    width: 50%;
    padding: 62px 0 0 90px;
  }
}

.grid46 {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;

  @media ($m-l) {
    flex-wrap: nowrap;
    margin: -20px 0 0 -46px;
  }
}

.grid46__item {
  width: 100%;
  padding: 20px 0 0 20px;

  @media ($m-l) {
    width: auto;
    padding: 20px 0 0 46px;
  }
}

.grid60 {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;

  &--jcc {
    justify-content: center;
  }

  &--fend {
    justify-content: flex-start;
  }

  @media ($m-m) {
    margin: -20px 0 0 -60px;

    &--fend {
      justify-content: flex-end;
    }
  }
}

.grid60__item {
  width: 50%;
  padding: 20px 0 0 20px;
  
  @media ($m-s) {
    width: auto;
  }
  
  @media ($m-m) {
    width: auto;
    padding: 20px 0 0 60px;
  }
}