.operator-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.operator-card__pic {
  padding: 0 30px;
  cursor: pointer;
  transition: .25s;

  &:hover {
    opacity: 0.8;
  }

  & > img {
    max-width: 100%;
  }
}